



body {
  padding: 50px;
  margin-top: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: pink;
  display: inline-block;
  clear: both;
  border: #333;
  
}






header {
  background: pink;
  position: static;
  float: right;
  width: 960;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}


img {

  float: left;

}
h1 {
  font-family:'Italiana', serif;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0px;
  font-size: 28px;
  color: #eee;
  text-align: left;
  background: #333;
}

ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  background-color: pink;
}

li {
float: right;
margin-right: 50px;
width: auto;


}


h2 {
  font-size: 24px;
}

a {
  
  color: grey;
  background-color:pink;
  
}

#name {

float: left;


}
p {
  font-family: font-family: 'Italiana', serif;
  

}

.clearfix::after {

content: "";
display: block;
clear: both;



}
.container-header {
  display: block;
  width: 960px;
  margin: 0 auto;
  background-color: pink;
}


footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  margin-left: 480px;
  margin-right: 500px;
  margin-top: 100px;
  border: #eee;

}

.container-footer {

  background-color: azure;
  border: #333;
  padding: 50px;


} 
